@model WikiORT.Models.Mensaje

@{
    ViewData["Title"] = "Create";
}


<h4>Mensaje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticuloId" class="control-label"></label>
                <select asp-for="ArticuloId" class ="form-control" asp-items="ViewBag.ArticuloId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear mensaje" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="pt-1 mb-4">
    <button class="btn btn-info btn-lg btn-block" type="button" onclick="location.href='@Url.Action("VistaParaAutores", "Autores")'"> Volver al menu</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
