@model Usuario

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Login.css">
    <title>Pagina de registro</title>
</head>

<body>
    <section class="vh-85">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 text-black">

                    <div id="form" class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                        <form style="width: 23rem;" asp-controller="Home" asp-action="Logueo">

                            <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Iniciar sesión</h2>

                            <div class="form-outline mb-4">
                                <input type="email" id="form2Example18" class="form-control form-control-lg" asp-for="Email" />
                                <label class="form-label" for="form2Example18">Correo Electrónico</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" id="form2Example28" class="form-control form-control-lg" asp-for="Password" />
                                <label class="form-label" for="form2Example28">Contraseña</label>
                            </div>

                            <a>@ViewBag.Msg </a>

                            <div class="pt-1 mb-4">

                                <button class="btn btn-info btn-lg btn-block" type="submit"> Iniciar sesión</button>

                            </div>

                            <div class="pt-1 mb-4">
                                <button class="btn btn-info btn-lg btn-block" type="button" onclick="location.href='@Url.Action("Create", "Autores")'"> Registrate como Autor</button>
                            </div>

                            <div class="pt-1 mb-4">
                                <button class="btn btn-info btn-lg btn-block" type="button" onclick="location.href='@Url.Action("Create", "Administradores")'">Registrate como Administrador</button>
                            </div>


                        </form>

                    </div>

                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="https://images5.alphacoders.com/919/thumb-1920-919004.jpg"
                         alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                </div>
            </div>
        </div>
    </section>
</body>
</html>